# si clonas el repo remplaza tu env

# Anthropic:
ANTHROPIC_API_KEY=sk-ant-tu-clave-aqui

# LangSmith (https://smith.langchain.com/settings) 
LANGCHAIN_API_KEY=

LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=ia2-rag-chromadb
